name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - "*"
    paths:
      - "go.*"
      - "**/*.go"
      - "**/*.bazel"
      - "scripts/**"
      - ".github/workflows/test.yml"
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - "*"
    paths:
      - "go.*"
      - "**/*.go"
      - "**/*.bazel"
      - "scripts/**"
      - ".github/workflows/test.yml"

permissions:
  contents: write

env:
  COVERAGE_FILE: ./coverage.out

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - name: Go test
        run: |
          go test ./... -coverprofile=${{ env.COVERAGE_FILE }} -coverpkg="./..."
      - name: Command tests
        run: |
          ./scripts/command-test.sh
      - uses: ncruces/go-coverage-report@v0
        with:
          coverage-file: ${{ env.COVERAGE_FILE }}
          badge-style: flat-square
          chart: true
          amend: true
        if: |
          github.event_name == 'push' &&
          github.ref == 'refs/heads/main'
  bazel-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - name: Install dependencies
        shell: bash
        run: |
          bazel run @rules_go//go -- mod tidy -v
          bazel mod tidy
          bazel run @rules_go//go -- install github.com/tc-hib/go-winres@latest
          bazel run @rules_go//go -- generate ./...
      - name: Bazel test
        shell: bash
        run: |
          bazel test //... --test_output=errors
      - name: Build binaries
        shell: bash
        run: |
          bazel build //...
      - name: Command tests
        shell: bash
        run: |
          binary=$(bazel cquery --output=files //:yutu-linux-amd64)
          ./scripts/command-test.sh $binary
